body {
    background: linear-gradient(rgba(255, 255, 255, 0.548), rgba(255, 255, 255, 0.493)), url(../img/livada.jpg);
    height: 760px;
    margin: 0;
}


h2 {
    color: rgb(51, 86, 27);
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 1px;
    text-align: center;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-top: 0px;
    text-indent: 20px;

}

#prg {
    padding: 0px 30px 0px 30px;
}

main {
    padding-bottom: 330px;
}

#cent {
    text-align: center;
    text-shadow: 2px 2px 5px red;
}

header {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    background: linear-gradient(rgb(44, 59, 44), rgb(103, 135, 103));
    height: 30px;
}

footer {
    margin-bottom: 0px;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 45px;
    background: radial-gradient(rgb(0, 138, 46), rgb(255, 159, 118));
}

#aqmr {
    margin-right: 30px;
    float: right;
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    position: relative;
}

#wht {
    position: absolute;
    bottom: 3px;
    right: 3px;
    background-color: white;
    text-indent: 0;
    padding: 5px;


}

img {
    position: fixed;
    right: 0;
    -webkit-filter: drop-shadow(5px 5px 5px #00cc30);
    filter: drop-shadow(5px 5px 5px #00ff2f);
    height: 60px;
}
